/*type selector*/
body{
  text-align: center;
  background-color: #110dbd;
  margin:0pt;
}

/*type selector*/
h1{
  color: #2ea40b;
  font-size: 45pt;
  font-family: fantasy;
}

h2{
  font-style: italic;
  color: #cedd21;
}

li{
  color: #1fdd08;
  font-weight: bold;
}
p{
  color: #69ff84;
  font-style: oblique;
}
/*class selector*/
.section1{
  background-color: #791fc1;
}


/*id selector*/
#sectionn{
  background-color: #f4882f;
}
